@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@hackathons.hackathonMain(hackathon, user, "teams", "teams.status", hackathon.isDefined, Some(helpers.CmsMessages("navigation.teams"))) {

  @hackathon.map { hackathon =>
    	@*
		 * Display add teams when:
		 * User is admin 
		 * or hackathon organiser
		 *  or normal user and hackathon configuration allows new teams creation
		 *@
		 
        @if((user.isDefined && (user.get.isAdmin || user.get.hackathonUserId == hackathon.organiserId || !hackathon.newTeamsDisabled ) )) {
  			<a class="btn btn-success" href="@routes.Team.create(hackathon.id)">@helpers.CmsMessages("teams.addTeam")</a>
  		}

    	@hackathon.teams.map { team =>

    		@*
    		 * Display teams when:
    		 *		1. user is admin
    		 *		2. team is verified
    		 *		3. user is hackathon organiser or team creator
    		 *
    		 *@

    		@if((user.isDefined && user.get.isAdmin) || team.status == model.TeamStatus.Approved || (user.isDefined && (user.get.hackathonUserId == hackathon.organiserId || user.get.hackathonUserId == team.creatorId))) {
	    	  	<div class="page-header team" data-team-id="@team.id">
					<h2>@team.name @teamActions(hackathon, team, user)</h2>
	   				<p>@helpers.CmsMessages("teams.creator.label"): @team.creator.name</p>
					<p>@helpers.CmsMessages("teams.members.label"): @team.members.size</p>
	    			<p><a class="btn" href="@routes.Team.view(hackathon.id, team.id)">@helpers.CmsMessages("global.readMore")</a></p>
	  			</div>
  			}
    	}

		 @*
		  * Show teams.empty.text when
		  *
		  * 	1. There are no teams at all
		  *		2. User is not logged in and there are no approved teams
		  *		3. User is logged but all added teams not approved and logged in user is not their creator
		  *
		  *@

		@if(hackathon.teams.size == 0 || (user.isEmpty && hackathon.teams.filter(_.status == model.TeamStatus.Approved).size == 0)  || (user.isDefined && hackathon.teams.filterNot(_.status == model.TeamStatus.Approved).filterNot(_.creatorId == user.get.hackathonUserId).size == hackathon.teams.size)) {
			<div class="page-header">
				<h2>@helpers.CmsMessages("teams.empty.text")</h2>
        	</div>
		}
		 
  }
  
}