@(hackathon: model.Hackathon, team: model.Team, user: Option[model.User], ajaxDelete: Boolean = true)(implicit request: Request[AnyContent], lang: Lang)

@import helper._

<small class="team-status">@helpers.CmsMessages("teams.teamStatus." + team.status)</small>
					
<div class="pull-right">
	@user.map { user =>
		@if(team.hasMember(user.id)){
			<a class="btn btn-warning" href="@routes.Team.disconnect(hackathon.id, team.id)">@helpers.CmsMessages("teams.leave.label")</a>
		} else {
			<a class="btn btn-warning" href="@routes.Team.join(hackathon.id, team.id)">@helpers.CmsMessages("teams.join.label")</a>  
		}
		@if(user.isAdmin || user.id == hackathon.organiserId || user.id == team.creatorId) {
			<a class="btn btn-success" href="@routes.Team.edit(hackathon.id, team.id)">@helpers.CmsMessages("global.edit")</a>
			@if((team.status == model.TeamStatus.Unverified || team.status == model.TeamStatus.Blocked) && (user.isAdmin || user.id == hackathon.organiserId)) {
				<a class="btn btn-success team-verify" data-hackathon-id="@hackathon.id" data-team-id="@team.id">@helpers.CmsMessages("teams.verify.label")</a>
			}
			@if(team.status == model.TeamStatus.Approved) {
				<a class="btn btn-danger team-suspend" data-hackathon-id="@hackathon.id" data-team-id="@team.id">@helpers.CmsMessages("teams.suspend.label")</a>
			}
			@if(team.status == model.TeamStatus.Suspended) {
				<a class="btn btn-success team-approve" data-hackathon-id="@hackathon.id" data-team-id="@team.id">@helpers.CmsMessages("teams.approve.label")</a>
			}
			@if((team.status != model.TeamStatus.Unverified && team.status != model.TeamStatus.Blocked) && (user.isAdmin || user.id == hackathon.organiserId)) {
				<a class="btn btn-danger team-block" data-hackathon-id="@hackathon.id" data-team-id="@team.id">@helpers.CmsMessages("teams.block.label")</a>
			}
			@if(ajaxDelete) {
				<a class="btn btn-danger team-delete" data-hackathon-id="@hackathon.id" data-team-id="@team.id">@helpers.CmsMessages("global.delete")</a>
			} else {
				@form(routes.Team.delete(hackathon.id, team.id), 'style -> "display: inline" ) {
					<input type="submit" value="@helpers.CmsMessages("global.delete")" class="btn btn-danger confirm-action" style="font-weight: bold" />
				}
			}
		}
	}.getOrElse{
	  <a class="btn btn-warning" href="@routes.Team.join(hackathon.id, team.id)">@helpers.CmsMessages("teams.join.label")</a>
	}
</div>
