@(hackathon: model.Hackathon, teamForm: Form[model.Team], action: play.api.mvc.Call, actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

@form(action, 'class -> "form-horizontal") {
        
	@inputText(
	    teamForm("name"),
	    '_label -> helpers.CmsMessages("teams.name.label"),
	    '_showConstraints -> false
	)
	
	@select(
		teamForm("problemId"),
		hackathon.problems.map{ p => p.id.toString -> p.name }.toSeq,
		'_label -> helpers.CmsMessages("teams.problem.label"),
		'_default -> helpers.CmsMessages("global.none"),
		'_showConstraints -> false
	)
  
    @forms.hidden(teamForm("hackathonId"))
    @forms.hidden(teamForm("creatorId"))
        
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">@helpers.CmsMessages(actionMessage)</button>
		<a href="@routes.Team.index(hackathon.id)" class="btn">@helpers.CmsMessages("global.cancel")</a>
	</div>
}