@(hackathon: Option[model.Hackathon], team: Option[model.Team], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent])

@import helper._

@allowEdit = @{ !user.isEmpty && !team.isEmpty && (team.get.creatorId == user.get.hackathonUserId || team.get.hackathon.organiserId == user.get.hackathonUserId || user.get.isAdmin ) }

@hackathons.h_main(hackathon, user, "teams", "teams.status") {
	@team.map{ team =>
		<div class="page-header">
			<h2>@team.name</h2>
		</div>
	  
		<div class="row">
			<div class="span12">
				<p>@Messages("teams.problem.label"): @team.problem.map { p => @p.name }.getOrElse{ @Messages("global.none") } </p>
		    	<p>@Messages("teams.creator.label"): @team.creator.name</p>

				@if(team.members.isEmpty) {
					<h3>@Messages("teams.noMembers")</h3>
				} else {  
					<h3>@Messages("teams.members.label") 
						<small>@Messages("global.total"): @team.members.size</small>
					</h3>
					<ul>
						@team.members.map { member =>
						<li>@member.name
							@if(allowEdit){ 
							<a class="btn btn-warning" href="@routes.Team.disconnectUser(hackathon.get.id, team.id, member.id)">@Messages("teams.disconnect")</a> 
							}
						</li>
						}
					</ul>
				}

	   			<div class="form-actions">
				@form(routes.Team.delete(hackathon.get.id, team.id)) {

					@if(!user.isEmpty && team.hasMember(user.get.hackathonUserId)){
						<a class="btn btn-warning" href="@routes.Team.disconnect(hackathon.get.id, team.id)">@Messages("teams.disconnect")</a>		    			  
					} else {
						<a class="btn btn-warning" href="@routes.Team.join(hackathon.get.id, team.id)">@Messages("teams.join")</a>  
					}
		    			
		    		@if(allowEdit){
		    			<a class="btn btn-success" href="@routes.Team.edit(hackathon.get.id, team.id)">@Messages("global.edit")</a>
		    			<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
		    		}
		    		
		    	}
		   		</div>
					
	    	</div>
	   	</div> 
	  
	}.getOrElse{
		<div class="page-header">
			<h2>@Messages("teams.notFound")</h2>
		</div>
	}
}