@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo])(implicit flash: play.api.mvc.Flash)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@securesocial.views.html.main( helpers.CmsMessages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    @flash.get("error").map { msg =>
    <div class="alert alert-error">
        @helpers.Messages(msg)
    </div>
    }

    @helper.form(action = securesocial.controllers.routes.Registration.handleSignUp(), 'class -> "form-horizontal", 'autocomplete -> "off") {
        <fieldset>

            @helper.inputText(
                signUpForm("userName"),
                '_label -> helpers.CmsMessages("securesocial.signup.username"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("fullName"),
                '_label -> helpers.CmsMessages("securesocial.signup.fullName"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("email.email1"),
                '_label -> helpers.CmsMessages("securesocial.signup.email1"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("email.email2"),
                '_label -> helpers.CmsMessages("securesocial.signup.email2"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password1"),
                '_label -> helpers.CmsMessages("securesocial.signup.password1"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password2"),
                '_label -> helpers.CmsMessages("securesocial.signup.password2"),
                'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@helpers.CmsMessages("securesocial.signup.createAccount")</button>
                <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">@helpers.CmsMessages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    }
}