@(problemForm: Form[model.Problem], users: List[model.User], hackathons: List[model.Hackathon], title: String = Messages("newProblem.title"))

@import helper._
@import helper.twitterBootstrap._

@main(title) {

	<div class="container">
    
    <h2>@title</h2>
  
    @form(routes.Problem.save) {
        
        @inputText(problemForm("name")) 
        @inputText(problemForm("description"))
        
        @select(problemForm("submitterId"), users.map{ u =>
        	u.id.toString -> u.name
        },
        '_label -> "Choose User")
        
				@select(problemForm("hackathonId"), hackathons.map{ h =>
        	h.id.toString -> h.subject
        },
        '_label -> "Choose Hackathon")
        
        <div class="form-actions">
	        <button type="submit" class="btn btn-primary">@Messages("newProblem.addProblem")</button>
	        <a href="@routes.Problem.index" class="btn">@Messages("global.cancel")</a>
      	</div>
        
    }
    
    </div>
}

