@(problems: Iterable[model.Problem], users: Map[Long,String], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent])

@import helper._
@import tags._

@main(Messages("home.welcome"), user) {
	<div class="container">
  
    <div class="page-header">
    <h1>@Messages("home.welcome")</h1>
    </div>
	
	@flash.get("status").map { status =>
	   <div class="alert alert-success">
	   	<button type="button" class="close" data-dismiss="alert">×</button>
       	<strong>@Messages(status)</strong>
       </div>
    }

      @problems.map { problem =>
          <div class="page-header">
    		<h2>@problem.name</h2>
    		<p></p>
    		<p>@users(problem.submitterId)</p>
    		<p><a class="btn" href="@routes.Problem.view(problem.id)">@Messages("global.readMore")</a></p>
  		</div>
      }
              
    	<div class="form-actions">
    		<a class="btn btn-success" href="@routes.Problem.create">@Messages("problems.addProblem")</a>
        </div>
  	
      <footer>
        <div class="social">
        	@googlePlus(request.uri)
        	@facebookLike(request.uri)
        </div>
        <p>&copy; @Messages("brand") @Messages("years")</p>
      </footer>
  	
  </div>
}