@(action: play.api.mvc.Call, problemForm: Form[model.Problem], users: List[model.User], hackathons: List[model.Hackathon])


@import helper._
@import helper.twitterBootstrap._

@form(action) {
        
    @inputText(problemForm("name")) 
    @inputText(problemForm("description"))
    
    @select(problemForm("submitterId"), users.map{ u =>
    	u.id.toString -> u.name
    },
    '_label -> "Choose User")
    
			@select(problemForm("hackathonId"), hackathons.map{ h =>
    	h.id.toString -> h.subject
    },
    '_label -> "Choose Hackathon")
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages("global.edit")</button>
        <a href="@routes.Problem.index" class="btn">@Messages("global.cancel")</a>
  	</div>
        
}