@(hackathon: model.Hackathon, problemForm: Form[model.Problem], action: play.api.mvc.Call, actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

@form(action, 'class -> "form-horizontal") {

	@inputText(
	    problemForm("name"),
	    '_label -> helpers.CmsMessages("problems.name.label"),
	    '_showConstraints -> false
	)
	
	@textarea(
	    problemForm("description"),
	    '_label -> helpers.CmsMessages("problems.description.label"),
	    '_showConstraints -> false,
	    'rows -> 30, 
	    'cols -> 100,
	    'style -> "width:100%"
	)
	
	@forms.hidden(problemForm("hackathonId"))
	@forms.hidden(problemForm("submitterId"))
	
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@helpers.CmsMessages(actionMessage)</button>
        <a href="@routes.Problem.index(hackathon.id)" class="btn">@helpers.CmsMessages("global.cancel")</a>
  	</div>
        
}