@(hackathon: Option[model.Hackathon], problem: Option[model.Problem], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._

@hackathons.hackathonMain(hackathon, user, "problems", problem.isDefined, "problems.status") {
  
	@problem.map{ problem =>
		<div class="page-header problem" data-problem-id="@problem.id">
			<h2>@problem.name @problemActions(hackathon, problem, user, false)</h2>
		</div>
	  
		<div class="row">
			<div class="span12">
				<p>@Messages("problems.description.label"): @problem.description</p>
				<p>@Messages("problems.submitter.label"): @problem.submitter.name</p>

				@user.map { user =>  			
					@if(user.isAdmin || problem.submitterId == user.hackathonUserId || problem.hackathon.organiserId == user.hackathonUserId){
						<div class="form-actions">
							@form(routes.Problem.delete(hackathon.get.id, problem.id)) {
								<a class="btn btn-success" href="@routes.Problem.edit(hackathon.get.id, problem.id)">@Messages("global.edit")</a>
								<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
							}
						</div>
					}
				}
	    	</div>
	   	</div> 
	  
	}.getOrElse{
		<div class="page-header">
			<h2>@Messages("problems.notFound")</h2>
		</div>
	}
}