@(hackathon: Option[model.Hackathon], problem: Option[model.Problem], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._

@hackathons.hackathonMain(hackathon, user, "problems", "problems.status", problem.isDefined) {

	@hackathon.map { hackathon =>
  
	@problem.map{ problem =>
		<div class="page-header problem" data-problem-id="@problem.id">
			<h2>@problem.name @problemActions(hackathon, problem, user, false)</h2>
		</div>
	  
		<div class="row">
			<div class="span12">
				<p>@Messages("problems.description.label"): @problem.description</p>
				<p>@Messages("problems.submitter.label"): @problem.submitter.name</p>
	    	</div>
	   	</div> 
	  
	}.getOrElse{
		<div class="page-header">
			<h2>@Messages("problems.notFound")</h2>
		</div>
	}

	}
}