@(currentPage: model.Page[model.User], user: securesocial.core.SocialUser, currentOrderBy: Int = 0, currentFilter: String = "")(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.User.index(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
        <a href="@link(0, Some(orderBy))">
        @Messages("users." + title + ".label")
        <i class="@if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "icon-chevron-down" else "icon-chevron-up"}"></i>
        </a>
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/users-update.js")" type="text/javascript"></script>
    <script src="@routes.JsMessagesFeed.jsMessages" type="text/javascript"></script>
}

@main(Messages("users.title"), Some(user), nav = "users", scripts) {
    
    <div class="container">

		<div class="page-header">
			<h1>@Messages("users.title")</h1>
    	</div>
    	
    	<div id="actions">
        
        @form(action=routes.User.index()) {
            <input type="search" name="filter" value="@currentFilter" placeholder="@Messages("users.filter.placeholder")" style="vertical-align: top">
            <input type="submit" value="@Messages("users.filter.label")" class="btn btn-primary">
        }
        
    	</div>
    	
    	@Option(currentPage.items).filterNot(_.isEmpty).map { users =>

        <table class="table table-condensed">
            <thead>
                <tr>
                	<th class="header">@header(1, "name")
                	<th class="header">@header(2, "email")
                    <th class="header">@header(3, "githubUsername")
                    <th class="header">@header(4, "twitterAccount")
                    <th class="header">@header(5, "isAdmin")
                    <th class="header">@header(5, "isBlocked")
                    <th class="header">@Messages("users.actions.label")</th>
                </tr>
            </thead>
            <tbody>

            @users.map { u => 
                <tr>
                    <td>@u.name</td>
                    <td>
                        @u.email
                    </td>
                    <td>
                        @u.githubUsername
                    </td>
                    <td>
                        @u.twitterAccount
                    </td>
                    <td>
                        <span class="human-readable-is-admin" data-user-id="@u.id">@u.isAdmin</span>
                    </td>
                    <td>
                        <span class="human-readable-is-blocked" data-user-id="@u.id">@u.isBlocked</span>
                    </td>
                    <td>
                        <a class="btn change-is-admin" data-user-id="@u.id" data-is-admin="@if(u.isAdmin) {1} else {0}">@Messages("users.updateIsAdmin.label")</a>
                        <a class="btn change-is-blocked" data-user-id="@u.id" data-is-blocked="@if(u.isBlocked) {1} else {0}">@Messages("users.updateIsBlocked.label")</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
        
        <div id="pagination" class="pagination" style="text-align: center">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">@Html(Messages("pagination.previous"))</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>@Html(Messages("pagination.previous"))</a>
                    </li>
                }
                <li class="current">
                    <a>@Html(Messages("pagination.current").format(currentPage.offset + 1, currentPage.offset + users.size, currentPage.total))</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">@Html(Messages("pagination.next"))</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>@Html(Messages("pagination.next"))</a>
                    </li>
                }
            </ul>
        </div>

    }.getOrElse {

        <div class="well">
            <em>@Messages("users.empty.text")</em>
        </div>

    }
		@footer(false)

	</div>

}

