@(userForm: Form[model.User], user: securesocial.core.SocialUser)(implicit request: Request[AnyContent], lang: Lang)

@main(Messages("profile.title"), Some(user), nav = "profile") {
    <div class="container">
        <div class="page-header">
            <h2>
                @if(user.avatarUrl) { 
                    <img src="@user.avatarUrl" alt="@user.displayName" width="40px" height="40px"/> 
                }
                @Messages("profile.welcome") @user.displayName !
            </h2>
        </div>
        @users.userForm(userForm)
    </div>
}