@(id: Long, newsForm: Form[model.News], users: List[model.User], user: securesocial.core.SocialUser)(implicit request: Request[AnyContent])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("news.edit.title"), Some(user), nav = "news") {

	<div class="container">
    
    <h2>@Messages("news.edit.title")</h2>
  
    @form(routes.News.update(id)) {
        
        @inputText(newsForm("title")) 
        @textarea(newsForm("text"))
        @inputText(newsForm("labels"))
        
        @select(newsForm("authorId"), users.map{ u =>
        	u.id.toString -> u.name
        },
        '_label -> "Choose User")
        
        @inputText(newsForm("published"))
        
        <div class="form-actions">
	        <button type="submit" class="btn btn-primary">@Messages("global.update")</button>
	        <a href="@routes.News.index" class="btn">@Messages("global.cancel")</a>
      	</div>
        
    }
    
    </div>
}

