@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import tags._

@hackathons.h_main(hackathon, user, "news", "news.status") {

	@hackathon.map { h =>
	
		@newsList(h.news)
		
		@user.map { user =>
	  		@if(user.isAdmin || user.hackathonUserId == h.organiserId) {
	  			<div class="form-actions">
	  				<a class="btn btn-success" href="@routes.News.createH(h.id)">@Messages("news.addNews")</a>
	  			</div>
	  		}
		}
		
		@footer()
		
		@commentsCount()
	}
}