@(news: Iterable[model.News])(implicit flash: Flash)

@import helper._

@main("News") {
    
    <h1>@news.size news</h1>
  
	@flash.get("status").map { status =>
       <h2>@status</h2>
    }

    <ul>
        @news.map { n =>
            <li>
                @n.title @n.author_id @n.published
        		<br/>
        		@n.text

                @form(routes.News.delete(n.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
                
    <p>Create news <a href="@routes.News.create">Create News</a></p>

}

