@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import tags._

@hackathons.hackathonMain(hackathon, user, "news", "news.status", true) {

	@hackathon.map { h =>
		
		@user.map { user =>
	  		@if(user.isAdmin || user.hackathonUserId == h.organiserId) {
 				<a class="btn btn-success" href="@routes.News.createH(h.id)">@helpers.CmsMessages("news.addNews")</a>
	  		}
		}
		
		@newsList(h.news, false)
				
		@commentsCount()
	}
}