@(news: Iterable[model.News], user: Option[model.User], label: String = "")(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@main(helpers.CmsMessages("news.title"), user, nav = "news", feed(routes.News.index)) {
    
    <div class="container">

		<div class="row">

    		<div class="span9">
    
				<div class="page-header">
				  	@if(user.isDefined && user.get.isAdmin) {
				  		<a class="btn btn-success pull-right" href="@routes.News.create">@helpers.CmsMessages("news.addNews")</a>
				  	}
				  	<h1>@helpers.CmsMessages("news.title")</h1>
		    	</div>

				@if(label) {
				<div class="alert alert-info">
		       		<strong>@helpers.CmsMessages("news.search").format(news.size, label)</strong>
				</div>
				}
    
				@flashing("news.status")

				@newsList(news)
		
			</div>

			<div class="span3">
				@widgets.twitterStream()
	    	</div>

		</div>
    	
		@footer(false)

	</div>

	@commentsCount()
}

