@(newsForm: Form[model.News], users: List[model.User])

@import helper._
@import helper.twitterBootstrap._

@main("Add a news") {

	<div class="container">
    
    <h2>Add a news</h2>
  
    @form(routes.News.create) {
        
        @inputText(newsForm("title")) 
        @inputText(newsForm("text"))
        
        
        @select(newsForm("authorId"), users.map{ u =>
        	u.id.toString -> u.name
        },
        '_label -> "Choose User")
        
        @inputText(newsForm("published"))
        
        <div class="form-actions">
	        <button type="submit" class="btn btn-primary">Create news</button>
	        <a href="@routes.News.index" class="btn">Cancel</a>
      	</div>
        
    }
    
    </div>
}

