@(newsForm: Form[model.News], users: List[model.User])

@import helper._

@main("Add a news") {

	<div class="container">
    
    <h2>Add a news</h2>
  
    @form(routes.News.create) {
        
        @inputText(newsForm("title")) 
        @inputText(newsForm("text"))
        
        
        @select(newsForm("authorId"), users.map{ u =>
        	u.id.toString -> u.name
        },
        '_label -> "Choose User (*)")
        
        @inputText(newsForm("published"))
        
        <input type="submit" value="Add" class="btn btn-primary" />
        
    }
    
    </div>
}

