@(news: Option[model.News], user: Option[securesocial.core.SocialUser])

@import helper._

@news.map { n =>
		    <h2>@n.title</h2>
			<p>@Html(n.text)</p>
			<p>@Messages("news.author.label"): @n.author.head.name @Messages("news.published.label"): @n.published</p>
			<p>@Messages("news.labels.label"):
				@for(l <- n.labels) {
				<span class="label">@l.value</span>
				}
			</p>
			@if(user) {
			<div class="form-actions">
	    		@form(routes.News.delete(n.id)) {
		    	<a class="btn btn-success" href="@routes.News.edit(n.id)">@Messages("global.edit")</a>
	            <input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
	            }
            }
            </div>
}.getOrElse {
	<h2>@Messages("news.notFound")</h2>
}