@(news: Option[model.News])(implicit request: Request[AnyContent], lang: Lang)

@import helper._

@news.map { n =>
	<div class="page-header">
		<h2>
			@if(n.author.avatarUrl) { 
				<img src="@n.author.avatarUrl" alt="@n.author.name" height="40px" width="40px" />    				
			}
			@n.hackathon.map { h => @h.subject: } @n.title
		</h2>
		<p>@Html(n.text)</p>
	    <p>@helpers.CmsMessages("news.author.label"): @n.author.name @helpers.CmsMessages("news.publishedDate.label"): @tags.dateFormat(n.publishedDate)</p>
	    <p>@helpers.CmsMessages("news.labels.label"):
			@for(l <- n.labels) {
				<a href="@routes.News.search(l.value)" style="text-decoration: none"><span class="label">@l.value</span></a>
			}
		</p>
   	</div>
}.getOrElse {
	<h2>@helpers.CmsMessages("news.notFound")</h2>
}