@(hackathon: Option[model.Hackathon], newsForm: Form[model.News], action: play.api.mvc.Call, actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

@form(action, 'class -> "form-horizontal") {
  
  	@inputText(
	    newsForm("title"),
	    '_label -> Messages("news.title.label"),
	    '_showConstraints -> false
	)
	
	@textarea(
	    newsForm("text"),
	    '_label -> Messages("news.text.label"),
	    '_showConstraints -> false
	)
	
    @inputText(
	    newsForm("labelsAsString"),
	    '_label -> Messages("news.labels.label"),
	    '_showConstraints -> false
	)    
    
  	@inputDate(
	    newsForm("publishedDate"),
	    '_label -> Messages("news.publishedDate.label"),
	    '_showConstraints -> false
	)
	
  	@forms.hidden(newsForm("hackathonId"))
	@forms.hidden(newsForm("authorId"))
	
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages(actionMessage)</button>
  		
  		@hackathon.map { hackathon =>
        <a href="@routes.News.indexH(hackathon.id)" class="btn">@Messages("global.cancel")</a>
  		}.getOrElse{
  	    <a href="@routes.News.index" class="btn">@Messages("global.cancel")</a>
  		}
    </div>
}