@(hackathon: Option[model.Hackathon], news: Option[model.News], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@hackathons.hackathonMain(hackathon, user, "news", news.isDefined, "news.status") {
	
	@newsSingle(news)
	
	@news.map{ news =>
	  
		@user.map { user =>
		  	@if(user.isAdmin || news.authorId == user.hackathonUserId || hackathon.get.organiserId == news.authorId) {
		  		<div class="form-actions">
		  			@form(routes.News.deleteH(hackathon.get.id, news.id)) {
		  				<a class="btn btn-success" href="@routes.News.editH(hackathon.get.id, news.id)">@Messages("global.edit")</a>
		  				<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
		  			}
		  		</div>
		  	}
		}
		
	    @comments()

	}
}