@(news: Option[model.News], user: Option[securesocial.core.SocialUser])(implicit request: Request[AnyContent])

@import helper._
@import tags._

@main(Messages("news.title"), user, nav = "news") {
	
	<div class="container">

		@newsSingle(news)
	
		@news.map{ news =>

		  	@user.map { user =>
		  		@if(user.isAdmin || user.hackathonUserId == news.authorId ) {
		  			<div class="form-actions">
		  				@form(routes.News.delete(news.id)) {
		  					<a class="btn btn-success" href="@routes.News.edit(news.id)">@Messages("global.edit")</a>
		  					<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
		  				}
		  			</div>
		  		}
			}
	    		
			@comments()
	        
			@footer()
		}

	</div>
}
