@(id: Long, sponsorForm: Form[model.dto.SponsorWithLogo], user: securesocial.core.SocialUser)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(helpers.CmsMessages("sponsors.edit.title"), Some(user), nav = "sponsors") {
	<div class="container">
    
		<div class="page-header">
    		<h2>@helpers.CmsMessages("sponsors.edit.title")</h2>
		</div>
    
    	@sponsors.sponsorForm(None, sponsorForm, routes.Sponsor.update(id), "global.update")
    
    </div>
}