@(sponsors: Seq[model.Sponsor], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent])

@import helper._
@import tags._

@main(Messages("sponsors.title"), user, nav = "sponsors") {
	<div class="container">
  
    	<div class="page-header">
    		<h1>@Messages("sponsors.title")</h1>
			<br>
			<p>@Messages("sponsors.text")</p>
		</div>

		@flashing("sponsors.status")

		@list(sponsors)
		
		@user.map { user =>
			@if(user.isAdmin) {
				<div class="form-actions">
					<a class="btn btn-success" href="@routes.Sponsor.create">@Messages("sponsors.addSponsor")</a>
				</div>
			}
		}

		@footer()

	</div>
}