@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import tags._

@hackathons.hackathonMain(hackathon, user, "sponsors", "sponsors.status", true) {

	@hackathon.map { h =>
		
		@user.map { user =>
	  		@if(user.isAdmin || user.hackathonUserId == h.organiserId) {
	  			<a class="btn btn-success" href="@routes.Sponsor.createH(h.id)">@Messages("sponsors.addSponsor")</a>
	  			<p>&nbsp;</p>
	  		}
		}
		
		@list(h.sponsors)
		
	}
}