@(sponsors: Seq[model.dto.SponsorWithLogo], hackathon: Option[model.Hackathon])(implicit request: Request[AnyContent], lang: Lang)

@if(!sponsors.isEmpty){
<ul class="thumbnails">
}
	@sponsors.map { s =>
		<li class="span3">
			<div class="thumbnail">
			@defining("http://placehold.it/260x180" )  { placeholder =>
				<img src="@s.logo.map(l => l.url).getOrElse{@placeholder}" />
				}
				<div class="caption">
					<h4>@s.sponsor.name
						<small>@s.sponsor.title</small>
					</h4>
					<p>@s.sponsor.description</p>
					<p>
						@hackathon.map { hackathon =>
						<a class="btn" href="@routes.Sponsor.viewH(hackathon.id, s.sponsor.id)">@helpers.CmsMessages("global.readMore")</a>
						}.getOrElse {
						<a class="btn" href="@routes.Sponsor.view(s.sponsor.id)">@helpers.CmsMessages("global.readMore")</a>
						}
					</p>
				</div>					

			</div>
		</li>
	}

@if(!sponsors.isEmpty){
</ul>
}