@(sponsors: Seq[model.Sponsor])

<ul class="thumbnails">
	@sponsors.map { sponsor =>
		<li class="span3">
			<div class="thumbnail">

				<img src=@sponsor.logoResource.map { l => @l.url }.getOrElse{"http://placehold.it/260x180"} alt="" width="260" height="180"/>

				<div class="caption">
					<h4>@sponsor.name
						<small>@sponsor.title</small>
					</h4>
					<p>@sponsor.description</p>
					<p><a class="btn" href="@routes.Sponsor.view(sponsor.id)">@Messages("global.readMore")</a></p>
				</div>					

			</div>
		</li>
	}
</ul>