@(sponsor: Option[model.dto.SponsorWithLogo])(implicit request: Request[AnyContent], lang: Lang)

@import helper._

@sponsor.map { s =>
	<div class="page-header">

		<h2>@s.sponsor.name
			<small>@s.sponsor.title</small>
		</h2>

		<div class="row">
			<div class="span6">
				@if(s.sponsor.website.startsWith("http")) {
				<p><a href="@s.sponsor.website">@s.sponsor.website</a></p>
				} else {
				<p><a href="http://@s.sponsor.website">@s.sponsor.website</a></p>
				}
				<p>@s.sponsor.description</p>
			</div>

			<div class="span6">
				@defining("http://placehold.it/260x180" )  { placeholder =>
				<img src="@s.logo.map(l=>l.url).getOrElse{@placeholder}" />
				}
			</div>

		</div>

   	</div>
}.getOrElse {
	<h2>@helpers.CmsMessages("sponsors.notFound")</h2>
}