@(hackathon: Option[model.Hackathon], sponsorForm: Form[model.dto.SponsorWithLogo], action: play.api.mvc.Call, actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._
@import tags._


@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

<div class="row">

	<div class="span6">
		@form(action, 'class -> "form-horizontal") {
        
			@inputText(
				sponsorForm("name"),
				'_label -> helpers.CmsMessages("sponsors.name.label"),
				'_showConstraints -> false
			)
			
			@inputText(
				sponsorForm("title"),
				'_label -> helpers.CmsMessages("sponsors.title.label"),
				'_showConstraints -> false
			)

			@inputText(
				sponsorForm("website"),
				'_label -> helpers.CmsMessages("sponsors.website.label"),
				'_showConstraints -> false
			)
        
			@textarea(
				sponsorForm("description"),
				'_label -> helpers.CmsMessages("sponsors.description.label"),
				'_showConstraints -> false
			)

			@inputText(
				sponsorForm("order"),
				'_label -> helpers.CmsMessages("sponsors.order.label"),
				'_showConstraints -> false
			)
			
			@forms.hidden(field = sponsorForm("hackathonId"))			
			@forms.hidden(field = sponsorForm("logoResourceId"))
            	
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">@Messages(actionMessage)</button>
				
				@hackathon.map { hackathon =>
				<a href="@routes.Sponsor.indexH(hackathon.id)" class="btn">@helpers.CmsMessages("global.cancel")</a>
				}.getOrElse{
				<a href="@routes.Sponsor.index" class="btn">@helpers.CmsMessages("global.cancel")</a>
				}
			</div>       
		}
	</div>

	<div class="span6">

		@form(routes.Sponsor.uploadLogo, 'class -> "form-horizontal", 'id -> "fileupload") {
			<!-- The template to display files available for upload -->
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
				<div class="span2">
	         		<!-- The fileinput-button span is used to style the file input field as button -->
	             	<span class="btn btn-primary fileinput-button" style="visibility:hidden">
						<i class="icon-upload icon-white"></i>
						<span>@helpers.CmsMessages("sponsors.button.upload")</span>
						<input type="file" name="files">					
					</span>
					<br/><br/><div>@helpers.CmsMessages("sponsors.upload.maxfilesizeinfo", 
						play.api.Play.current.configuration.getString("sponsors.logo.maxsize").getOrElse(""))</div>	
			</div>
			<div class="files span2"></div>
		</div>
	
		<script id="template-upload" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			<div class="template-upload fade span3">

				{% if (!file.error) { %}
				<img src="@routes.Assets.at("images/loader.gif")" style="align:center"/>
				{% } %}
				
				{% if (file.name) { %}
				<span>File: {%=file.name%}</span>
				{% } %}
			
				<p>
				{% if (file.error) { %}
				<span><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</span>
				<p></p>
				{% } else { %}	
				{% } %}
				</p>
				
				<p>
					<span class="cancel" style="display:none" >
						{% if (!i) { %}
						<button class="btn btn-warning">
							<i class="icon-ban-circle icon-white"></i>
							<span>{%=locale.fileupload.cancel%}</span>
						</button>
						{% } %}
					</span>
				</p>
			</div>
			{% } %}
		</script>

		<!-- The template to display files available for download -->
		<script id="template-download" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			<div class="template-download fade span">
				{% if(file.resourceId) { 	
					$('#logoResourceId').val(file.resourceId);
				} %}
				
				{% if (!file.error) { %}	
				<div class="thumbnail">
					<a href="{%=file.url%}" ><img src="{%=file.url%}"/></a>
				</div>
				{% } else if (file.error) { %}
				<p>
					<span><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</span>
				</p>    
				{% } %}
		
				<p/>
				<p>
					<span class="delete">
						<button class="btn btn-danger confirm-action"  onclick="{%='$("#logoResourceId").val("")'%}">
							<i class="icon-trash icon-white"></i>
							<span>{%=locale.fileupload.destroy%}</span>
						</button>
					</span>
				</p>
			</div>		
			{% } %}
		</script>
	}

</div>

@fileuploadlocale()
@jsAppend(List("jquery.ui.widget.min.js"
				, "tmpl.min.js"
				, "load-image.min.js"
				, "canvas-to-blob.min.js"
				, "jquery.iframe-transport.min.js"
				, "jquery.fileupload.min.js"
				, "jquery.fileupload-fp.min.js"
				, "jquery.fileupload-ui.min.js"
				, "sponsors-logo.min.js"))