@(sponsor: Option[model.dto.SponsorWithLogo], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@main(helpers.CmsMessages("sponsors.title"), user, nav = "sponsors") {
    
    <div class="container">
	
		@single(sponsor)

		@sponsor.map{ s =>
		  	@user.map { user =>
		  		@if(user.isAdmin) {
		  			<div class="form-actions">
		  				@form(routes.Sponsor.delete(s.sponsor.id)) {
		  					<a class="btn btn-success" href="@routes.Sponsor.edit(s.sponsor.id)">@helpers.CmsMessages("global.edit")</a>
		  					<input type="submit" value="@helpers.CmsMessages("global.delete")" class="btn btn-danger confirm-action" />
		  				}
		  			</div>
		  		}
			}
		  	
		  	@footer(true)
  		}  	
  
    </div>
}