@()(implicit request: Request[AnyContent], lang: Lang)

        <script type="text/javascript">
        var disqus_shortname = 'hackatonportal'; // required: replace example with your forum shortname

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
                        