@()(implicit request: Request[AnyContent], lang: Lang)

        <script type="text/javascript">
		window.locale = {
	    "fileupload": {
	        "errors": {
	            "maxFileSize": helpers.CmsMessages("js.fileupload.filetoobig"),
	            "minFileSize": helpers.CmsMessages("js.fileupload.filetoosmall"),
	            "acceptFileTypes": helpers.CmsMessages("js.fileupload.typenotallowed"),
	            "maxNumberOfFiles": helpers.CmsMessages("js.fileupload.maxnofiles.exceeded"),
	            "uploadedBytes":helpers.CmsMessages("js.fileupload.filesize.exceeded"),
	            "emptyResult": helpers.CmsMessages("js.fileupload.emptyResult")
	        },
	        "error": helpers.CmsMessages("js.fileupload.label.error"),
	        "start": helpers.CmsMessages("js.fileupload.label.start"),
	        "cancel": helpers.CmsMessages("js.fileupload.label.cancel"),
	        "destroy": helpers.CmsMessages("js.fileupload.label.delete")
	    }
	};
        </script>

