@()(implicit request: Request[AnyContent])

        <script type="text/javascript">
		window.locale = {
	    "fileupload": {
	        "errors": {
	            "maxFileSize": '@Messages("js.fileupload.filetoobig")',
	            "minFileSize": '@Messages("js.fileupload.filetosmall")',
	            "acceptFileTypes": '@Messages("js.fileupload.typenotallowed")',
	            "maxNumberOfFiles": '@Messages("js.fileupload.maxnofiles.exceeded")',
	            "uploadedBytes":'@Messages("js.fileupload.filesize.exceeded")',
	            "emptyResult": '@Messages("js.fileupload.emptyResult")'
	        },
	        "error": '@Messages("js.fileupload.label.error")',
	        "start": '@Messages("js.fileupload.label.start")',
	        "cancel": '@Messages("js.fileupload.label.cancel")',
	        "destroy": '@Messages("js.fileupload.label.delete")'
	    }
	};
        </script>

