@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser], subnav: String, prefix: String = "")(content: Html)(implicit flash: Flash, request: Request[AnyContent]) 

@import helper._
@import tags._

@scripts = {
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/docs.css")">
  		<script src="@routes.Assets.at("javascripts/subnav.js")" type="text/javascript"></script>
}

@main(Messages("hackathons.view.title"), user, nav = "hackathons", scripts) {
    
    <div class="container">

		@hackathon.map { hackathon =>

		  	<div>
				<h1>@hackathon.subject
					<small>@hackathon.status</small>
				</h1>
            	<p>@hackathon.location.city @hackathon.date</p>
				<p>@Messages("hackathons.organiser.label"): @hackathon.organiser.name</p>
			</div>
			
		  	@user.map { user =>
		  		@if(user.isAdmin || user.hackathonUserId == hackathon.organiserId) {
		  		<div class="form-actions">
		  			@form(routes.Hackathon.delete(hackathon.id)) {
		  			<a class="btn btn-success" href="@routes.Hackathon.edit(hackathon.id)">@Messages("global.edit")</a>
		  			<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
		  			}
		  		</div>
				}
		  	}
		  
		  	<div class="subnav">
				<ul class="nav nav-pills">
					<li class="@("active".when(subnav == "news"))"><a href="@routes.News.indexH(hackathon.id)">@Messages("navigation.news")</a></li>
					<li class="@("active".when(subnav == "problems"))"><a href="@routes.Problem.index(hackathon.id)">@Messages("navigation.problems")</a></li>
					<li class="@("active".when(subnav == "teams"))"><a href="@routes.Team.index(hackathon.id)">@Messages("navigation.teams")</a></li>
@if(!play.Play.isProd()) {
					<li class="@("active".when(subnav == "sponsors"))"><a href="@routes.Sponsor.indexH(hackathon.id)">@Messages("navigation.sponsors")</a></li>
}
					<li class="@("active".when(subnav == "prizes"))"><a href="@routes.Prize.index(hackathon.id)">@Messages("navigation.prizes")</a></li>
				</ul>
			</div>

			
		  	<p></p>
		  	@flashing(prefix)
		  	
		  	@chat()
		  	
		  	<div class="content">

		  		@content

		  	</div>
		  		  	
		}.getOrElse {
		  
			<div class="page-header">
				<h2>@Messages("hackathons.notFound")</h2>
			</div>

		}
		
	</div>
		
}