@(hackathonForm: Form[model.Hackathon], action: play.api.mvc.Call, location: Option[model.Location], actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

<script type="text/javascript">
	new HackathonLocations({ findLocationAction : '/locations/find',
		createLocationAction: '@routes.Location.create',
		saveLocationAction: '@routes.Location.save',
		noMatchFoundText : '@Messages("locations.nomatchfound")'
	});
</script>

@form(action, 'id -> "hackathon-form",'class -> "form-horizontal") {

	@inputText(
	    hackathonForm("subject"),
	    '_label -> Messages("hackathons.subject.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    hackathonForm("locationName"),
	    '_label -> Messages("hackathons.location.label"),
	    '_showConstraints -> false,
	    'autocomplete -> "off"
	)

    @forms.hidden(field = hackathonForm("locationId"))    
    
	@forms.inputDate(
	    hackathonForm("date"),
	    '_label -> Messages("hackathons.date.label"),
	    '_showConstraints -> false
	)
	
	@textarea(
	    hackathonForm("description"),
	    '_label -> Messages("hackathons.description.label"),
	    '_showConstraints -> false
	)
	
    @select(
	    hackathonForm("status"),
	    model.HackathonStatus.values.map{ s => s.toString -> s.toString}.toSeq,
	    '_label -> Messages("hackathons.status.label"),
	    '_showConstraints -> false
	)
    
	@forms.hidden(hackathonForm("organizerId"))
	
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages(actionMessage)</button>
        <a href="@routes.Hackathon.index" class="btn">@Messages("global.cancel")</a>
  	</div>
}

<div class="modal hackathon-location-modal hide">

    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3>@Messages("locations.create.title")</h3>
    </div>

	<div class="modal-body">
   	   	<div class="row">
       		<div id="locationBox" class="span5"></div>
    		<div id="map-canvas" style="width:400px; height:360px" class="span5"></div>
    	</div>
    </div>
	
	 <div class="modal-footer">
		<a id="submitLocation" href="#" class="btn btn-primary">@Messages("global.add")</a>
		<a id="cancelLocation" href="#" class="btn" data-dismiss="modal">@Messages("global.cancel")</a>
	</div>    	

</div>