@(hackathonForm: Form[model.Hackathon], action: play.api.mvc.Call, locations: Seq[model.Location], actionMessage: String)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

@form(action, 'class -> "form-horizontal") {

	@inputText(
	    hackathonForm("subject"),
	    '_label -> Messages("hackathons.subject.label"),
	    '_showConstraints -> false
	)

	@select(
	    hackathonForm("locationId"),
	    locations.map{ l => l.id.toString -> l.name },
        '_label -> Messages("hackathons.location.label"),
	    '_showConstraints -> false
    )
    
	@inputDate(
	    hackathonForm("date"),
	    '_label -> Messages("hackathons.date.label"),
	    '_showConstraints -> false
	)
	
    @select(
	    hackathonForm("status"),
	    model.HackathonStatus.values.map{ s => s.toString -> s.toString}.toSeq,
	    '_label -> Messages("hackathons.status.label"),
	    '_showConstraints -> false
	)
    
	@forms.hidden(hackathonForm("organizerId"))
	
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages(actionMessage)</button>
        <a href="@routes.Hackathon.index" class="btn">@Messages("global.cancel")</a>
  	</div>
        
}