@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import tags._
@import java.text._

@hackathonMain(hackathon, user, "details", "hackathons.status", hackathon.isDefined, Some(helpers.CmsMessages("hackathons.view.title"))) {

  @hackathon.map { hackathon =>
  
  	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  	<script type="text/javascript" src="@routes.Assets.at("javascripts/hackathon-map.js")"></script>
  	

    <div class="row">
  		<div class="span4">
  			<dl data-hackathon-id="@hackathon.id">
  				@for((location, idx) <- hackathon.locations.zipWithIndex) {
  				<dt>@helpers.CmsMessages("hackathons.location.label") @(idx + 1)</dt>
  					<dd>@location.name</dd>
       				<dd>@location.fullAddress</dd>
       				<dd>@location.city, @location.postalCode</dd>
  					<dd>@location.country</dd>
				}
 				<dt>@helpers.CmsMessages("hackathons.date.label")</dt>
  					<dd>@tags.dateFormat(hackathon.date)</dd>

  				<dt>@helpers.CmsMessages("hackathons.organiser.label")</dt>
  					<dd>@if(hackathon.organiser.avatarUrl) { 
						<img src="@hackathon.organiser.avatarUrl" alt="@hackathon.organiser.name" height="40px" width="40px" />    				
					} 
					@hackathon.organiser.name</dd>

  			</dl>
		</div>
    
    	<div class="span8">
  			<div id="map-canvas" style="width:400px; height:250px"></div>
  		</div>
  		
  		<p>&nbsp;</p>
  		
	</div>
	
	<div>
		@Html(hackathon.description)
	</div>
	
	<div>
		
		@Option(hackathon.members).filterNot(_.isEmpty).map { members =>
			<h2>@helpers.CmsMessages("hackathons.members.label") 
				<small>@helpers.CmsMessages("global.total"): @hackathon.members.size</small>
			</h2>
			<ul style="list-style:none;">
				@members.map { member =>
				<li>@if(member.avatarUrl) { 
						<img src="@member.avatarUrl" alt="@member.name" height="40px" width="40px" />    				
					}
					@member.name
				</li>
				}
			</ul>
		}.getOrElse {
    	    <h3>@helpers.CmsMessages("hackathons.noMembers")</h3>
	    }
		
	</div>
	
	<p>&nbsp;</p>
    
  }
}
