@(hackathon: Option[model.Hackathon], hackathonNews: Iterable[model.News], users: Map[Long, String], locations: Map[Long, String], user: Option[securesocial.core.SocialUser])(implicit request: Request[AnyContent])

@import helper._

@main(Messages("hackathons.view.title"), user, nav = "hackathons") {
    
    <div class="container">
    
		<div class="page-header">

		@hackathon.map { hackathon =>
		    <h2>@hackathon.subject</h2>
            <p>@Messages("hackathons.status.label"): @hackathon.status</p>
            <p>@Messages("hackathons.submitter.label"): @users(hackathon.submitterId)</p>
            <p>@Messages("hackathons.location.label"): @locations(hackathon.locationId)</p>
    	  
		  	@news.newsList(hackathonNews, false)
		  	
		  	@user.map { user =>
	    		@if(user.hackathonUserId == hackathon.submitterId) {
	    			<div class="form-actions">
	    				<a class="btn btn-success" href="@routes.News.createHackathonNews(hackathon.id)">@Messages("news.addNews")</a>
	    			</div>
	    		  
	    			<div class="form-actions">
	    			@form(routes.Hackathon.delete(hackathon.id)) {
	    				<a class="btn btn-success" href="@routes.Hackathon.edit(hackathon.id)">@Messages("global.edit")</a>
	    				<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
	    			}
	    			</div>
				}
		  	}

		}.getOrElse {
		  <h2>@Messages("hackathons.notFound")</h2>
		}

	    </div>
  
    </div>

}

