@(hackathon: Option[model.Hackathon], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@hackathons.hackathonMain(hackathon, user, "prizes", "prizes.status", true) {

  @hackathon.map { hackathon =>

  		@user.map { user =>
	  		@if(user.isAdmin || user.hackathonUserId == hackathon.organiserId) {
  				<a class="btn btn-success" href="@routes.Prize.create(hackathon.id)">@Messages("prizes.addPrize")</a>
	  		}
    	}
        	
    	@hackathon.prizes.map { prize =>
          	<div class="page-header">
    			<h2>@prize.name</h2>
				<p>@prize.description</p>

				@prize.founderName.map { name =>
					<h3>Founded by 
					@prize.founderWebPage.map { page =>
						<a href="@page" target="_blank">@name</a>
					}.getOrElse {
						@name
					}
					</h3>
				}

    			<p><a class="btn" href="@routes.Prize.view(hackathon.id, prize.id)">@Messages("global.readMore")</a></p>
  			</div>
    	}
    	
  }
}