@(hackathon: model.Hackathon, prizeForm: Form[model.Prize], action: play.api.mvc.Call, actionMessage: String)(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }

@form(action, 'class -> "form-horizontal") {
        
    @inputText(
    	prizeForm("name"),
	    '_label -> helpers.CmsMessages("prizes.name.label"),
	    '_showConstraints -> false
    ) 
        
    @textarea(
    	prizeForm("description"),
    	'_label -> helpers.CmsMessages("prizes.description.label"),
	    '_showConstraints -> false
    )

    @inputText(
    	prizeForm("order"),
	    '_label -> helpers.CmsMessages("prizes.order.label"),
	    '_showConstraints -> false
    )
           
    @inputText(
    	prizeForm("founderName"),
	    '_label -> helpers.CmsMessages("prizes.founderName.label"),
	    '_showConstraints -> false
    )
    
    @inputText(
    	prizeForm("founderWebPage"),
	    '_label -> helpers.CmsMessages("prizes.founderWebPage.label"),
	    '_showConstraints -> false
    )
    
    @forms.hidden(prizeForm("hackathonId"))
     
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@helpers.CmsMessages(actionMessage)</button>
        <a href="@routes.Prize.index(hackathon.id)" class="btn">@helpers.CmsMessages("global.cancel")</a>
  	</div>
        
}