@(hackathon: Option[model.Hackathon], prize: Option[model.Prize], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._

@hackathons.hackathonMain(hackathon, user, "prizes", prize.isDefined, "prizes.status") {
  
	@prize.map{ prize =>
		<div class="page-header">
			<h2>@prize.name</h2>
		</div>
	  
		<div class="row">
			<div class="span12">
				<p>@Messages("prizes.description.label"): @prize.description</p>

				@prize.founderName.map { name =>
					<p>Founded by 
					@prize.founderWebPage.map { page =>
						<a href="@page" target="_blank">@name</a>
					}.getOrElse {
						@name
					}
					<p>
				}

				@user.map { user =>
					@if(user.isAdmin || user.hackathonUserId == hackathon.get.organiserId ) {
					<div class="form-actions">
						@form(routes.Prize.delete(hackathon.get.id, prize.id)) {
							<a class="btn btn-success" href="@routes.Prize.edit(hackathon.get.id, prize.id)">@Messages("global.edit")</a>
							<input type="submit" value="@Messages("global.delete")" class="btn btn-danger" />
						}
					</div>
					}
				}
	    	</div>
	   	</div> 
				
	}.getOrElse{
		<div class="page-header">
			<h2>@Messages("prizes.notFound")</h2>
		</div>
		
	}
}