@(user: Option[securesocial.core.SocialUser])(implicit request: Request[AnyContent])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("about.title"), user, nav = "about") {

	<div class="container">
    
	    <div class="page-header">
	    <h1>@Messages("about.idea.title")</h1>
		<br/>
		@Html(Messages("about.idea.text"))
	    </div>

		<div class="page-header">
	    <h1>@Messages("about.platform.title")</h1>
		<br/>
		@Html(Messages("about.platform.text"))
	    </div>

    </div>
}

