@(user: Option[model.User])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import tags._

@main(helpers.CmsMessages("home.welcome"), user, nav = "home") {
    
	<div class="container">
	
      <div class="hero-unit">
        <h1>@helpers.CmsMessages("home.welcome")</h1>
        <p>@helpers.CmsMessages("home.text")</p>
        <p><a href="@routes.Application.about" class="btn btn-primary btn-large">@helpers.CmsMessages("global.learnMore")</a></p>
      </div>

      <div class="row">
        <div class= @if(!play.Play.isProd()){"span4"}else{"span6"}>
          <h2>@helpers.CmsMessages("home.news1.title")</h2>
          <p>@helpers.CmsMessages("home.news1.text")</p>
          <p><a class="btn" href="/news">@helpers.CmsMessages("global.viewDetails")</a></p>
        </div>
        <div class= @if(!play.Play.isProd()){"span4"}else{"span6"}>  
          <h2>@helpers.CmsMessages("home.news2.title")</h2>
          <p>@helpers.CmsMessages("home.news2.text")</p>
          <p><a class="btn" href="@routes.Application.about#hackaton-portal">@helpers.CmsMessages("global.viewDetails")</a></p>
       </div>
@if(!play.Play.isProd()) {
        <div class="span4">
          <h2>@helpers.CmsMessages("home.news3.title")</h2>
          <p>@helpers.CmsMessages("home.news3.text")</p>
          <p><a class="btn" href="@routes.Sponsor.index">@helpers.CmsMessages("global.viewDetails")</a></p>
        </div>
}
      </div>

      <hr/>
      
      @footer(true)

    </div>
}