@(title: String = Messages("home.welcome"))(implicit request: Request[AnyContent])

@import tags._

@main(title) {
    
	<div class="container">
	
      <div class="hero-unit">
        <h1>@title</h1>
        <p>@Messages("home.text")</p>
        <p><a href="@routes.Application.about" class="btn btn-primary btn-large">@Messages("global.learnMore")</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>@Messages("home.news1.title")</h2>
          <p>@Messages("home.news1.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
        </div>
        <div class="span4">
          <h2>@Messages("home.news2.title")</h2>
          <p>@Messages("home.news2.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
       </div>
        <div class="span4">
          <h2>@Messages("home.news3.title")</h2>
          <p>@Messages("home.news3.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
        </div>
      </div>

      <hr />

      <footer>
        <div class="social">
        	@googlePlus(request.uri)
        	@facebookLike(request.uri)
        </div>
        <p>&copy; @Messages("brand") @Messages("years")</p>
      </footer>

    </div> <!-- /container -->
	
  
}