@(message: String)

@import tags._

@main(message) {
    
	<div class="container">
	
      <div class="hero-unit">
        <h1>@message</h1>
        <p>@Messages("home.text")</p>
        <p><a href="@routes.Application.about" class="btn btn-primary btn-large">@Messages("global.learnMore")</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>@Messages("home.news1.title")</h2>
          <p>@Messages("home.news1.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
        </div>
        <div class="span4">
          <h2>@Messages("home.news2.title")</h2>
          <p>@Messages("home.news2.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
       </div>
        <div class="span4">
          <h2>@Messages("home.news3.title")</h2>
          <p>@Messages("home.news3.text")</p>
          <p><a class="btn" href="#">@Messages("global.viewDetails")</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <div class="social">
        	@googlePlus("http://hackaton.pl")
        	@facebookLike("http://hackaton.pl")
        </div>
        <p>&copy; Hackaton.pl 2012</p>
      </footer>

    </div> <!-- /container -->
	
  
}