@(title: String = Messages("sponsors.title"))

@import helper._
@import helper.twitterBootstrap._

@main(title) {

	<div class="container">
    
	  <div class="row">
      <h2>@title</h2>
      <p>@Messages("sponsors.text")</p>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>Kainos Software</h5>
              <p>kainos software, qwq.</p>
            </div>
          </div>
        </li>
      </ul>
  </div>
  
    </div>
}

