@(entries: Seq[cms.dto.Entry], user: Option[securesocial.core.SocialUser])(implicit request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@main("CMS - Content Editor", user, nav="cms") {
	<p>
		<a id="addNewEntry" class="btn btn-primary" href="@routes.Content.create">@Messages("add_new_entry")</a>
	</p>
	<div>
		<table id="entryTable">
			<thead>
			<tr>
				<th>Key</th>
				<th>Type</th>
				<th>Contents</th>
			</tr>
			</thead>
			@entries.map { e =>
			<tbody>
				<tr>
					<td>@e.key</td>
					<td>@e.entryType</td>
					<td>@e.contents.size element(s)</td>
					<td><a href="@routes.Content.edit(e.key)">Edit Entry</a>
				</tr>
			}
			</tbody>
		</table>
	</div>	
}

