@(locations: Iterable[model.Location], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._
@import tags._

@main(Messages("locations.title"), user, nav = "locations") {
<div class="container">
  
    <div class="page-header">
		<a class="btn btn-success pull-right" href="@routes.Location.create">@Messages("locations.addLocation")</a>
    	<h1>@Messages("locations.title")</h1>
    </div>
	
	@flashing("locations.status")

	@locations.map { location =>
		<div class="page-header">
    		<h2>@location.name</h2>
    		<p><a class="btn" href="@routes.Location.view(location.id)">@Messages("global.readMore")</a></p>
  		</div>
    }     
    
	@footer(false)
  	
</div>
}