@(action: play.api.mvc.Call, locationForm: Form[model.Location], scripts: Html = Html(""))

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(forms.twitterBootstrapInput.f) }





@form(action, 'id -> "locationForm", 'class -> "form-horizontal") {
 
	@inputText(
	    locationForm("name"),
	    '_label -> Messages("locations.name.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    locationForm("country"),
	    '_label -> Messages("locations.country.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    locationForm("city"),
	    '_label -> Messages("locations.city.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    locationForm("postalCode"),
	    '_label -> Messages("locations.postalCode.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    locationForm("fullAddress"),
	    '_label -> Messages("locations.fullAddress.label"),
	    '_showConstraints -> false
	)
	
	@inputText(
	    locationForm("latitude"),
	    '_label -> Messages("locations.latitude.label"),
	    '_showConstraints -> false
	)

	@inputText(
	    locationForm("longitude"),
	    '_label -> Messages("locations.longitude.label"),
	    '_showConstraints -> false
	)	

     
}


