@(location: Option[model.Location], user: Option[securesocial.core.SocialUser])(implicit flash: Flash, request: Request[AnyContent], lang: Lang)

@import helper._

@main(helpers.CmsMessages("locations.view.title"), user, nav = "locations") {
    
    <div class="container">
    
		<div class="page-header">

		@if(location.isEmpty) {
		    <h2>@helpers.CmsMessages("locations.notFound")</h2>
    	} else {
    		<h2>@location.get.name</h2>
            <p>@helpers.CmsMessages("locations.country.label"): @location.get.country</p>
            <p>@helpers.CmsMessages("locations.city.label"): @location.get.city</p>
            <p>@helpers.CmsMessages("locations.postalCode.label"): @location.get.postalCode</p>
            <p>@helpers.CmsMessages("locations.fullAddress.label"): @location.get.fullAddress</p>
            <p>@helpers.CmsMessages("locations.latitude.label"): @location.get.latitude </p>
            <p>@helpers.CmsMessages("locations.longitude.label"): @location.get.longitude </p>

			<div class="form-actions">
	    		@form(routes.Location.delete(location.get.id)) {
		    	<a class="btn btn-success" href="@routes.Location.editA(location.get.id)">@helpers.CmsMessages("global.edit")</a>
	            <input type="submit" value="@helpers.CmsMessages("global.delete")" class="btn btn-danger" />
	    		}
            </div>
    	}
    	
	    </div>

    	@tags.footer(false)
  
    </div>

}

